echo ".terraform/" >> .gitignore
echo "*.tfstate" >> .gitignore
echo "*.tfstate.backup" >> .gitignore
echo "crash.log" >> .gitignore
echo "override.tf" >> .gitignore
echo "override.tf.json" >> .gitignore
echo "*_override.tf" >> .gitignore
echo "*_override.tf.json" >> .gitignore
echo "!.terraform.lock.hcl" >> .gitignore

.terraform/
